body {
    background: black;
}

.firstEvidence li a img,
.secondEvidence li a img,
.thirdEvidence li a img {
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 20%;
    padding: 5px;
}

.firstEvidence,
.secondEvidence,
.thirdEvidence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    position: relative;
    width: 200px;
    padding: 0;
    font-family: var(--font);
    letter-spacing: 5px;
}

ul.firstEvidence,
ul.secondEvidence,
ul.thirdEvidence {
    border: 1px solid white;
    padding: 20px 0px 40px;
    border-radius: 30px;
}

.reset p a:hover,
.reset p a:focus {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.5;
}

.ghost-finder {
    padding: 50px 0px;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0;
}

.reset p a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3rem;
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.result {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.creator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.important-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.result h2 {
    background: black;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.emf-five a, .fingerprints a, .freezing a, .ghost-orbs a, .ghost-writing a, .spirit-box a {
    position: relative;
}

.emf-five a:before {
    content: 'EMF5';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -25px;
    color: white;
    font-size: 1.5rem;
}

.fingerprints a:before {
    content: 'Fingerprints';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -35px;
    right: 0;
    text-align: center;
    bottom: -25px;
    color: white;
    font-size: 1.5rem;
}

.freezing a:before {
    content: 'Freezing';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -15px;
    right: 0;
    text-align: center;
    bottom: -25px;
    color: white;
    font-size: 1.5rem;
}

.ghost-orbs a:before {
    content: 'Ghost Orbs';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -30px;
    right: 0;
    text-align: center;
    bottom: -25px;
    color: white;
    font-size: 1.5rem;
    width: 115px;
}

.ghost-writing a:before {
    content: 'Ghost Writing';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -47px;
    right: 0;
    text-align: center;
    bottom: -25px;
    color: white;
    font-size: 1.5rem;
    width: 150px;
}

.spirit-box a:before {
    content: 'Spirit Box';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: -35px;
    right: 0;
    text-align: center;
    bottom: -25px;
    color: white;
    font-size: 1.5rem;
    width: 115px;
}

.secondEvidence .emf-five,
.secondEvidence .fingerprints,
.secondEvidence .freezing,
.secondEvidence .ghost-orbs,
.secondEvidence .ghost-writing,
.secondEvidence .spirit-box {
    display: none;
}

.thirdEvidence .emf-five,
.thirdEvidence .fingerprints,
.thirdEvidence .freezing,
.thirdEvidence .ghost-orbs,
.thirdEvidence .ghost-writing,
.thirdEvidence .spirit-box {
    display: none;
}

.active {
    box-shadow: 0px 0px 10px red;
}

fieldset input {
    width: 100%;
    background: black;
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
}

fieldset label {
    color: white;
    font-size: 3rem;
}

fieldset {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 40%;
    letter-spacing: 3px;
}

fieldset input:last-child {
    margin-bottom: 0;
}

select#mission-one,
select#mission-two,
select#mission-three {
    padding: 20px;
    background: black;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
}

.creator h1 {
    color: white;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-family: var(--font);
    letter-spacing: 10px;
}

.creator h1 em {
    font-size: 1.5rem;
}

.result fieldset {
    height: 100px;
    padding: 5px 20px 0;
    margin: 0;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result fieldset input {
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
}

.result legend {
    color: white;
    font-size: 2rem;
    font-family: var(--font);
    letter-spacing: 5px;
}

input#ghost-name {
    padding: 20px 25px;
    width: 42%;
    background: black;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
}

.col-sm-6.important-info label {
    color: white;
    font-size: 3rem;
    padding: 20px;
}
